<!DOCTYPE html>
<html><head><title>Live Cam</title></head>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<body>
  <form style="margin-bottom: 20px">
    <input type="tẽtx" name="" id="rtspLink" placeholder="Nhập link">
    <button type="button" id="btn">Sắp mít</button>
  </form>
<video id="video" autoplay="true" controls="controls"></video>
  <script>
   var btn = document.getElementById("btn");
   var rtspLink = document.getElementById("rtspLink");
   btn.addEventListener("click", function(e){
      axios.post("http://localhost:3000/getRtspVideo",{rtspLink: rtspLink.value}).then((res)=>{
        console.log(res.data);
          if (res.data && Hls.isSupported()) {
      var video = document.getElementById('video');
      var hls = new Hls();
      // bind them together
      hls.attachMedia(video);
      hls.on(Hls.Events.MEDIA_ATTACHED, function () {
      //  console.log("run");
        hls.loadSource("video/streaming.m3u8");
        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
          console.log("load:" + data.levels.length + " quality level");
        });
      });
    } 
      })
   })

  </script> 

</body>
</html>